
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Bienvenidos al sistema</h1>
        <h2>@ViewBag.Fecha</h2>

    </div>
</body>
</html>
